ul.countdown {
	list-style: none;
	margin: 1.3vw 0;
	padding: 0;
	display: block;
	text-align: center;
}

ul.countdown li {
	display: inline-block;
	padding: 0.3vw;
}

ul.countdown li span {
	font-size: 3vw;
	font-weight: 300;
	line-height: 2.6vw;
}

ul.countdown li.seperator {
	font-size: 3vw;
	line-height: 3.1vw;
	vertical-align: top;
}

ul.countdown li p {
	color: #a7abb1;
	font-size: 2vw;
	font-family: Brush Script MT;
}
